<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	
	<properties url="file:///D:/DataConfig/mysql.properties"></properties>
	
    <classPathEntry location="D:/DataConfig/mysql-connector-java-5.1.38.jar"/>
    <context id="gyyx_my" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="false"/>
            <property name="suppressAllComments" value="false"/>
            <property name="addRemarkComments" value="true"/>
        </commentGenerator>
	
        <jdbcConnection driverClass="${jdbc.mysql.JavaTrainingDBDriver}"
                        connectionURL="${jdbc.mysql.JavaTrainingDBurl}" userId="${jdbc.mysql.JavaTrainingDBusername}"
                        password="${jdbc.mysql.JavaTrainingDBpassword}"/>

 <!-- mybatis coder generator config -->
        <javaModelGenerator targetPackage="cn.gyyx.training.beans"
                            targetProject="training-beans/src/main/java/">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="cn.gyyx.training.dao"
                         targetProject="training-dao/src/main/java/">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="cn.gyyx.training.dao"
                             targetProject="training-dao/src/main/java/" type="XMLMAPPER">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

		 
        <!--  绑定日志表  -->
        <table tableName="account_bind_log" domainObjectName="AccountBindLog"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>
    </context>
</generatorConfiguration>